/*Item*/
.main-container{
    margin-top: 20px;

}
.collection{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}



.collection__title{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 800;
}


.collection__text{
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 500;
}





.item__quantity{
    border: none;
    color: var(--light-bg-solid);
    background-color:var(--dark-bg-solid);
    margin-right: 10px;
}

.item__input{
    width:10px;
    text-align: center;
    margin-right: 30px;
    
}

    

button.collection-cart{
    border: none;
    background-color: rgba(255, 51, 51, 0.9 );
    color:  var(--light-font-solid);
    font-size: var(--font-medium);
    padding: var(--spacing-12) var(--spacing-20);
    transition:backround .3s ease-in-out;


}

button.collection-cart:hover{
    background-color: var(--primary-300);
}
.item__promo{
    color: var(--secondary-solid);
    font-size: var(--font-small);
}


/* Slider*/
.slider{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.slider__title{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;

}

.slider__items{
    display: flex;
    gap: var(--spacing-24);
}

.card-item__cover{
    display: flex;
    position: relative;
}

.card-item__tag{
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}

.card-item__cover img{
    animation: fade .7s;
}

.card-item__img--back{
    display: none;
}

.card-item__cover:hover .card-item__img--back{
    display: block;
}
.card-item__cover:hover .card-item__img--front{
    display: none;


}

.card-item__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding:var(--spacing-16);
}

.card-item__licence{
    font-size: var(--font-xsmall);
    font-weight: 400;
}

.card-item__name{
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item__price{
    font-size: var(--font-small);
    font-weight: 300;
}

.card-item__promo{
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}