*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
 /*importación de las fuentes que necesitará el proyecto*/
 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
/**/



/*Sandra Ferreyra*/ 
      /*posiciones*/ 
    .position-fixed{
        position: fixed;
    }
    .position-absolute{
        position:absolute;
    }
    .position-relative{
        position:relative;
    }
      /*display flex*/ 
    .d-flex{
        display: flex;
    }
    .flex-direction-column{
        flex-direction: column;
    }
    .flex-direction-row{
        flex-direction: row;
    }
    .justify-content-center{
        justify-content: center;
    }
    .align-items-center{
        align-items: center;
    }
      /*Alinear texto horizontalmente*/ 
    .text-center{
        text-align: center;
    }
    .text-left{
        text-align: left;
    }
    .text-right{
        text-align: right;
    }
      /*z index*/ 
    .z-index1{
        z-index:1;
    }
    .z-index0{
        z-index:0;
    }
    /*anular decoraciones en listas de elementos*/ 
    .text-decoration-none{
        text-decoration: none;
    }
    /*estilos de fuenntes necesarias para el proyecto*/ 
    .fuente1-Raleway{
        font-family: 'Raleway', sans-serif; /*Raleway*/
    }
    .fuente2-Inter{
        font-family: 'Inter', sans-serif;
    }
    /*colores de fuentes requeridos en el proyecto*/ 
    .color1{
        color: rgb(252, 19, 82);
    }
    .color2{
        color: rgb(28, 29, 26)
    }
    .color3{
        color: rgb(46, 50, 62);
    }
    .color4{
        color: rgb(28, 130, 180);
    }
    .color5{
        color: rgb(255, 49, 50);
    }
    /*tamaños de fuentes*/ 
    .font-size-display{
        font-size: 46px;
    }
    .font-size-jumbo{
        font-size: 38px;
    }
    .font-size-xLarge{
        font-size: 30px;
    }
    .font-size-large{
        font-size: 24px;
    }
    .font-size-medium{
        font-size: 18px;
    }
    .font-size-small{
        font-size: 16px;
    }
    .font-size-xSmall{
        font-size: 14px;
    }
    /*grosor de fuentes*/ 
    .font-weight-100{
        font-weight:100;
    }
    .font-weight-200{
        font-weight:200;
    }
    .font-weight-300{
        font-weight:300;
    }
    .font-weight-400{
        font-weight:500;
    }
    .font-weight-600{
        font-weight:600;
    }
    .font-weight-700{
        font-weight:700;
    }
    .font-weight-800{
        font-weight:800;
    }
    .font-weight-900{
        font-weight:900;
    }
    .font-weight-bold{
        font-weight:bold;
    } 
     /*margenes top*/ 
    .mt-1{
        margin-top:2% ;
    }
    .mt-2{
        margin-top:4% ;
    }
    .mt-3{
        margin-top:6% ;
    }
    .mt-4{
        margin-top:8% ;
    }
    .mt-5{
        margin-top:10% ;
    }
      /*margenes bottom*/ 
    .mb-1{
        margin-bottom:2% ;
    }
    .mb-2{
        margin-bottom:4% ;
    }
    .mb-3{
        margin-bottom:6% ;
    }
    .mb-4{
        margin-bottom:8% ;
    }
    .mb-5{
        margin-bottom:10% ;
    }
      /*margenes izquierdos*/ 
    .ml-1{
        margin-left:2% ;
    }
    .ml-2{
        margin-left:4% ;
    }
    .ml-3{
        margin-left:6% ;
    }
    .ml-4{
        margin-left:8% ;
    }
    .ml-5{
        margin-left:10% ;
    }
      /*margenes derechos*/ 
    .mr-1{
        margin-right:2% ;
    }
    .mr-2{
        margin-right:4% ;
    }
    .mr-3{
        margin-right:6% ;
    }
    .mr-4{
        margin-right:8% ;
    }
    .mr-5{
        margin-right:10% ;
    }
      /*padding general(espacios)*/ 
    .p-128{
        padding: 128px;
    }
    .p-68{
        padding: 68px;
    }
    .p-36{
        padding: 36px;
    }
    .p-28{
        padding: 28px;
    }
    .p-24{
        padding: 24px;
    }
    .p-22{
        padding: 22px;
    }
    .p-16{
        padding: 16px;
    }
    .p-12{
        padding: 12px;
    }
    .p-8{
        padding: 8px;
    }
      /*colores de fondo*/ 
    .bg-color1{
        background-color: rgb(252, 19, 82);
    }
    .bg-color2{
        background-color: rgb(28, 29, 26)
    }
    .bg-color3{
        background-color: rgb(46, 50, 62);
    }
    .bg-color4{
        background-color: rgb(28, 130, 180);
    }
    .bg-color5{
        background-color: rgb(255, 49, 50);
    }
/*Sandra Ferreyra*/ 
    /*Marcos Caraballo*/ 
    /*Marcos Caraballo*/
     /*Marcelo*/
      /*Marcelo*/
       /*Karina*/
    
    /*Karina*/ 
      /*Romina Pascaretta*/ 
       /*Debora*/
        /*German*/ 
        /*German*/
         /*Jose */
          /*Jose */
    
    
    
    
    
    
    
    
    
    
    
     
    
    
    
    
    
   
    
    
    