
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    
    
    
    /*Sandra Ferreyra*/ /*Sandra Ferreyra*/ /*Marcos Caraballo*/ /*Marcos Caraballo*/ /*Marcelo*/ /*Marcelo*/ /*Karina*/
    
    /*Karina*/   /*Romina Pascaretta*/  /*Debora*/ /*German*/ /*German*/ /*Jose */ /*Jose */
    
    
    
    
    
    
    
    
    
    
    
     
    
    
    
    
    
   
    
    
    